
@{
    ViewBag.Title = "EditUser";
}

<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse nav-bar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a id="headerLabel" class="navbar-brand nav-bar-text" href="#"></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" id="saveUser"  onsubmit="editUserController.validateAndSaveUser()">
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Nume</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="surName" id="surName" placeholder="Introduceti numele" required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Prenume</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Introduceti prenumele" required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Introduceti emailul" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Parola</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Introduceti parola" required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirma Parola</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirmati parola" required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Este admin</label>
     
                            <input type="checkbox" name="hasAdminRole" id="hasAdminRole"/>
                </div>
                <div class="form-group" style="text-align: center; padding-top: 14px;">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> @Resources.Labels.Salvare</button>
                    <button type="button" class="btn btn-danger" onclick="editUserController.cancelEdit();" id="btnCancelSaveTruck" style="margin-left:20px"><span class="glyphicon glyphicon glyphicon-remove"></span> @Resources.Labels.Anulare</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/Pages/editUserController.js"></script>

<script>
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function () {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }

    addLoadEvent(function () {
        if (editUserController.truckId) {
            document.getElementById('headerLabel').innerHTML = 'Editare utilizator';
        } else {
            document.getElementById('headerLabel').innerHTML = 'Adaugare utilizator';
        }

    });
</script>