
.vs/WebProject/v15/.suo
.vs/WebProject/v15/.suo
*.ide-wal
*.ide-shm
.vs/WebProject/v15/.suo
*.dbmdl
*.dbmdl
*.jfm
*.dll
*.pdb
*.dll
*.dbmdl
*.cache
*.dll
*.user
Database/Database.dbmdl
.vs/WebProject/v15/.suo
