
@{
    ViewBag.Title = "EditTruck";
}
<script src="~/Scripts/Pages/editTruckController.js"></script>
<label>Numar inmatriculare</label>   <input id="truckRegistrationNumber"/>
<label>Marca</label>   <input id="brand"/>
<label>An fabricatie</label>   <input id="manufacteringYear"/>

