@{
    ViewBag.Title = "Editare camion";
}
<script src="~/Scripts/Pages/editTruckController.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse nav-bar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand nav-bar-text" href="#">@ViewBag.Title</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <form name="saveTruck" class="edit-panel" onsubmit="editTruckController.validateAndSaveTruck();">
        <div id="generalInformation">
            <h3 class="details-header">Informatii generale</h3>
            <div class="row fields-padding">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label>Nr Inmatriculare</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="min-input-width min-input-height" id="registrationNumber" type="text" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label>Marca/Brand</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="min-input-width min-input-height" name="brands" id="brands" required>
                                            <option value="0"></option>
                                            <option value="1">Iveco Stralis</option>
                                            <option value="2">Renault Premium</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fields-padding">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label>An Inmatriculare</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="min-input-width min-input-height" id="registrationYear" type="number" max="3000" maxlength="4" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="expirationDetails">
            <h3 class="details-header">Valabilitate acte</h3>
            <div class="row fields-padding">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label>Data expirare ITP</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="min-input-width min-input-height" id="ITPExpirationDate" type="date" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label>Data expirare asigurare</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="min-input-width min-input-height" id="insuranceExpirationDate" type="date" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fields-padding">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label>Data expirare Tahograf</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="min-input-width min-input-height" id="tachographExpirationDate" type="date" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label>Data expirare Vignette</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="min-input-width min-input-height" id="vignetteExpirationDate" type="date" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fields-padding">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label>Data expirare copie conforma</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="min-input-width min-input-height" id="conformCopyExpirationDate" type="date" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row button-group">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <button type="submit" id="btnSaveTruck" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Salvare</button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" onclick="editTruckController.cancelEdit();" id="btnCancelSaveTruck" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove"></span>Anulare</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



