
@{
    ViewBag.Title = "Truck";
}
<script src="~/Scripts/Pages/truckController.js"></script>

<h2>Truck</h2>
<div id="trucksGrid"></div>

<button onclick="truckController.initGrid()">Show grid</button>