@{
    ViewBag.Title = "Camioane";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse nav-bar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand nav-bar-text" href="#">@ViewBag.Title</a>
                    </div>
                    <div class="button-group right-side">
                        <button class="btn btn-success" id="addButton" onclick="truckController.addNewTruck();">Adaugare</button>
                        <button class="btn btn-success" id="editButton" disabled onclick="truckController.editTruck();">Editare</button>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="trucksGrid"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/Pages/truckController.js"></script>