
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

ul,ol{
    margin-right:1%;
    padding-left:7%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-area {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 1px solid black;
}

.left-side {
    float: left;
    margin-right: 20px;
}

.right-side {
    float: right;
    right:2%;
}

.margin-top-small {
    margin-top: 3px;
}

.center-items {
    margin-left: 50%;
}

.login-bg {
    /*background-image: url(/Content/Images/image-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}

.zero-space-body {
    padding: 0px;
}

.black-border {
    list-style: none;
    padding: 5%;
    background: #010522;
    border-bottom: 1px solid white;
}

#menu-title a {
    font-weight: bold;
    font-size: 22px;
    padding: 5%;
    background: #010522 !important;
    border-bottom: 2px solid white;
}

.black-border a{
    color:#fff;
}

.margin-left-small {
    margin-left: 10px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

/*Verical NavBar*/
#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 180px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#wrapper.active {
    padding-left: 150px;
}

    #wrapper.active #sidebar-wrapper {
        left: 150px;
    }

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 180px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

    .sidebar-nav li a {
        color: #999999;
        display: block;
        text-decoration: none;
    }

        .sidebar-nav li a:hover {
            color: #fff;
            background: rgba(255,255,255,0.2);
            text-decoration: none;
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }

#main_icon {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

.sub_icon {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

    .content-header h1 {
        margin: 0;
        margin-left: 20px;
        line-height: 65px;
        display: inline-block;
    }

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }

    #sidebar-wrapper {
        left: 70px;
    }

    #wrapper.active {
        padding-left: 150px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 150px;
            width: 150px;
            transition: all .4s ease 0s;
        }
}

.main {
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
}


.logout-button {
    margin-top: 5px;
    margin-right: 10px;
    float: right
}

.login-register {
    font-size: 11px;
    text-align: center;
}

.min-input-width {
    min-width: 100px;
    width: 175px;
}

.min-input-height {
    min-height: 15px;
    height: 28px;
    font-size: 12px;
}

.details-header {
    padding-top: 5px;
    padding-bottom: 5px;
    color: grey;
    border-bottom: 1px solid;
}

.fields-padding {
    padding-top: 3px;
    padding-bottom: 3px;
}

.edit-panel {
    border: 1px solid #dfedf1;
    padding: 5px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.no-text-decoration {
    text-decoration: none !important;
    color: white !important;
    height: 35px;
}

.nav-bar {
    background-color: #010522 !important;
    border-color: black !important;
    border-radius: 2px !important;
    height: 60px;
}

.nav-bar-text {
    color: white !important;
}

.selected-row > td {
    background: #c4e2ff !important;
    border-color: #c4e2ff !important;
}

.left-sidebar {
    background: blue;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #010522;
}

@media only screen and (max-width: 600px) {
    .left-sidebar {
        height:200px;
    }
    .black-border{
        padding:1%;
    }
}

.icon-right-position {
    color: white;
    float: right;
}
.menu-item-clickable-aria {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 40%;
}
.no-margin-right {
    margin-right:0px;
}
.button-group {
    padding-top: 7px;
}

#saveButtons {
    margin-top: 10px;
    margin-right:1px;
}

*.icon-black {
    color: black
}
i {
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.badge:after {
    content: "1";
    position: absolute;
    background: #428bca;
    height: 2rem;
    top: -0.7rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid #428bca;
}
.bell-icon {
    width:25px;
    height:20px;
    background-color:white;
}

.modal-body h5{
    font-weight:bold;
}

.notification-list {
    height: 200px;
    overflow-y: scroll;
}
.modal-footer{
    padding:5px 20px 5px;
}

.modal-custom {
    width: 700px;
}

#hasAdminRole { 
    width: 140px;
    height: 15px;
}

.red-border {
    border:1px solid red;
    color:red;
}

.my-search{
    height:33.5px;
}

.notification-padding {
    padding: 5px!important;
    margin-bottom: 4px!important;
}

.warning-background-cell {
    background-color: #d49200;
    color: #d49200;
}

.danger-background-cell {
    background-color: #c91010;
    color: #c91010;
}

.jsgrid {
    font-size: 11px!important;
}

.nested-grid * {
    border: none;
}

.filter-padding {
    padding-bottom: 5px;
}

.row-no-margin {
    margin: 0px!important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}